body {
    margin: 0;
    padding: 0;
    border: 0;

    background: #424242 url(body_bg.png);
    font-family: "Flexo-Regular", arial, sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100%;

    vertical-align: baseline;
}

.top-wrapper{
    position: relative;
    width: 100%;
    transition: height 0.2s ease-out;
    height: 62px;
    border-bottom: solid 2px #dedede;
    background-color: #f5f5f5;
}

.top-wrapper-dentro{
    height: 62px;
    margin: 0 auto;
    position: relative;
}

.content-top-wrapper{
    overflow: hidden;
    margin: 0;
    padding-left: 19%;
    height: 62px;
    text-align: center;
    list-style: none;
    display: flex;
}

.button-top-pokemon{
    box-shadow: 0 0 7px 1px #666666;
    margin: 0 10px;
    border-right: 0;
    border-left: 0;
    background-color: #fff;
    padding: 9px 10px 8px 10px;
    vertical-align: middle;
}

.button-top-aboutus {
    border-right: solid 2px #dedede;
    padding: 9px 10px 8px 10px;
    vertical-align: middle;
    float: left;
}

@media (min-width: 961px) {
    .content-top-wrapper li.promotion a {
        margin: 6px 0 6px 7px;
        display: block;
        background-color: #fff;
    }
}
.promotion{
    float: left;
    display: inline-block;
    position: relative;
    z-index: 5;
}